.section-about {
  background-color: #fff;
  padding-top: 8rem;

  &__container {
    padding: 6rem 31.3rem 6rem 30.3rem;

    margin-top: 3rem;

    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media only screen and (max-width: 1200px) {
      padding: 6rem 20rem 6rem 20rem;
    }
    @media only screen and (max-width: 920px) {
      padding: 6rem 10rem 5rem 10rem;
    }
    @media only screen and (max-width: 800px) {
      padding: 6rem 5rem 3rem 5rem;
    }
    @media only screen and (max-width: 705px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.about-image {
  display: flex;
  justify-content: center;
}

.profile-pic-container {
  width: 26rem;
  height: 26rem;
}

.profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.about-text {
  flex: 1;
  margin-left: 4rem;
  margin-top: 4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  @media only screen and (max-width: 705px) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: 600px) {
    margin-left: 0;
    text-align: start;
  }

  &-primary {
    color: #fff;
    text-decoration: underline;

    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    @media only screen and (max-width: 705px) {
      text-align: center;
    }
  }

  &-secondary {
    font-size: 1.9rem;
    line-height: 3rem;
    @media only screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
  }
}

.about-btn-container {
  padding: 2rem;
}

.about-btn {
  background-color: #109e97;
  display: inline-block;
  border-radius: 10rem;
  height: 5rem;
  text-align: center;
  width: 20rem;
  // padding: 1.5rem 1.7rem;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #109e97d8;
    transform: scale(1.2);
  }
}
