.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.63)),
    url('../../assests/images/computer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: $white;
  font-family: 'Open Sans';
  font-size: 1.6rem;
  position: relative;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.4rem;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    @media only screen and (max-width: 450px) {
      top: 45%;
      left: 40%;
    }
  }
}

.active {
  border-bottom: 1px solid #686de0;
}
