.section-projects {
  @include section;
  background-color: rgba(194, 190, 190, 0.349);
}

.container-box {
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 950px) {
    margin: 0 6rem;
  }
  @media only screen and (max-width: 870px) {
    margin: 0 3rem;
  }
  @media only screen and (max-width: 870px) {
    margin: 0 1rem;
  }
}

.projects-box {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.description {
  margin-left: 6.5rem;
  @media only screen and (max-width: 800px) {
    margin-left: 2rem;
  }
}

.name {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  @media only screen and (max-width: 600px) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: 430px) {
    font-size: 1.4rem;
  }
}

.project-image {
  height: 26rem;
  width: 50rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.02);
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
    height: auto;
  }
  @media only screen and (max-width: 430px) {
    height: auto;
  }
}
