.section-skills {
  @include section;
  padding-top: -5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.63)),
    url('../../assests/images/skill.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.skills {
  &__heading {
    margin-top: 2.2rem;
    color: #fff;
    text-align: center;
    font-size: 2.6rem;
    @media only screen and (max-width: 500px) {
      font-size: 2.2rem;
    }
  }
}

.languages {
  margin-left: 4rem;
  margin-top: 2rem;
  transition: transform 1.2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: rotateY(360deg);
  }

  &__logo {
    width: 4.5rem;
    @media only screen and (max-width: 850px) {
      width: 3.5rem;
    }
    @media only screen and (max-width: 500px) {
      width: 3rem;
    }
    @media only screen and (max-width: 375px) {
      width: 2.3rem;
    }
  }
  &__container {
    padding: 3rem 20rem;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and (max-width: 1300px) {
      padding: 3rem 10rem;
    }
    @media only screen and (max-width: 1050px) {
      padding: 3rem 5rem;
    }
    @media only screen and (max-width: 850px) {
      padding: 3rem 3rem;
    }
    @media only screen and (max-width: 850px) {
      padding: 3rem 0rem;
    }
  }

  text-align: center;
  padding: 3rem 3rem;
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  background-color: #132930b6;
  @media only screen and (max-width: 850px) {
    width: 12rem;
    height: 12rem;
    padding: 2.4rem;
  }
  @media only screen and (max-width: 670px) {
    width: 11rem;
    height: 11rem;
    padding: 2rem;
  }
  @media only screen and (max-width: 500px) {
    width: 9rem;
    height: 9rem;
    padding: 1.5rem 1rem;
  }
  @media only screen and (max-width: 375px) {
    width: 7rem;
    height: 7rem;
    padding: 1rem 1rem;
  }
  &__name {
    font-family: sans-serif;
    color: #fff;
    margin-top: 1.2rem;
    font-size: 1.8rem;
    @media only screen and (max-width: 670px) {
      font-size: 1.6rem;
    }
    @media only screen and (max-width: 500px) {
      font-family: Times, serif;
      font-size: 1.3rem;
    }
    @media only screen and (max-width: 375px) {
      font-size: 1rem;
    }
  }
}
