$white: white;
$black: black;

.footer {
  background-color: rgba(0, 0, 0, 0.877);
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  @media only screen and (max-width: 600px) {
    width: 50%;
  }
  @media only screen and (max-width: 440px) {
    width: 65%;
  }
  @media only screen and (max-width: 365px) {
    width: 80%;
  }
  @media only screen and (max-width: 305px) {
    width: 90%;
  }
}

.links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.8rem;
  margin-left: 7rem;
}
